.footer {
    background-color: $color-grey-dark-3;
    padding: 8rem;
    font-size: 1.4rem;
    color: $color-grey-light-1;

    @include respond(tab-port) {
        padding-top: 12rem;
    }

    @include respond(phone) {
        padding-left: 3rem;
        padding-right: 3rem;
        font-size: 1.6rem;
    }

    &__logo-box {
        text-align: center;
    }

    &__logo {
        height: 20rem;

        @include respond(phone) {
            height: 5rem;
        }
    }

    &__navigation {
        border-top: .1rem solid $color-grey-light-1;
        padding-top: 2rem;
        display: inline-block;

        @include respond(tab-port) {
            display: block;
        }

        @include respond(phone) {
            border-top: none;
        }
    }

    &__list {
        list-style-type: none;

        @include respond(tab-port) {
            text-align: center;
        }
    }

    &__list-item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 2rem;

            @include respond(phone) {
                margin-right: 0;
                display: block;
            }
        }

        @include respond(tab-land) {
            margin-bottom: 3rem;
        }
        
    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            color: inherit;
            text-transform: uppercase;
            display: inline-block;
            background-color: $color-grey-dark-3;
        }

        &:hover {
            box-shadow: 0 1rem 2rem rgba($color-black, .2);
            transform: scale(1.1) rotate(5deg);
            color: $color-primary;
        }
    }

    &__text-box {
        float: right;
        width: 90%;

        @include respond(tab-port) {
            display: block;
            width: 100%;
            float: none;
        }
    }

    &__copyright {
        border-top: .1rem solid $color-grey-light-1;
        padding-top: 2rem;
    }
}