.header {
    height: 100vh;
    background-image: 
        linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), 
        url(../img/hero-small.jpg);
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 95%);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 95%);    
    position: relative;

    //==========Responsive Image==========

    @media only screen and (min-resolution: 144dpi) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
        background-image: 
        linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), 
        url(../img/hero.jpg);
    }

    //==========Responsive Image==========

    @include respond(tab-land) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 65%, 0% 90%);
        clip-path: polygon(0 0, 100% 0, 100% 65%, 0% 90%);   
    }

    @include respond(tab-port) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 87%, 0% 100%);   
    }
    
    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 92.5%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 92.5%, 0% 100%);   
    }

    @include respondToSpecials(ipad) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 90%);
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 90%);   
    }

    @include respondToSpecials(ipad-pro) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 90%);
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 90%);
        height: 70vh;
    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.4rem;
    }
    
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}